In [1]:
from requests import get
import pandas as pd
from API_Keys import quandl

In [3]:
gold_futures_url = f"https://www.quandl.com/api/v3/datasets/CHRIS/CME_MGC1.json?api_key={quandl}"
gold_options_url = f"https://www.quandl.com/api/v3/datasets/CFTC/088691_FO_ALL.json?api_key={quandl}"

In [4]:
gold_futures = get(gold_futures_url)
gold_options = get(gold_options_url)

In [5]:
gold_futures = gold_futures.json()
gold_options = gold_options.json()

In [6]:
g_futures_df = pd.DataFrame(gold_futures["dataset"]["data"],columns=gold_futures["dataset"]["column_names"])
g_options_df = pd.DataFrame(gold_options["dataset"]["data"],columns=gold_options["dataset"]["column_names"])

In [17]:
print(len(g_futures_df.index))
print(len(g_options_df.index))

1349
684

In [14]:
g_data = g_futures_df.merge(g_options_df, on = "Date", how = "inner")
g_data = g_data[["Date","Settle","Open Interest","Money Manager Longs","Money Manager Shorts"]]
print(len(g_data.index))
g_data.head()

279

,Date,Settle,Open Interest,Money Manager Longs,Money Manager Shorts
0,2019-07-16,1411.2,1038695.0,248138.0,28250.0
1,2019-07-09,1400.5,1010098.0,241396.0,24254.0
2,2019-07-02,1408.0,1031393.0,258490.0,17327.0
3,2019-06-25,1414.9,1014917.0,255572.0,25908.0
4,2019-06-18,1346.6,858867.0,216650.0,26969.0