In [40]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree

In [41]:
#creating gold prices DF

Prices_df = pd.read_csv(r"C:\Users\Dell\Desktop\Models\ML\Gold_Prices.csv")

In [42]:
#creating gold CFTC DF

CFTC_df = pd.read_csv(r"C:\Users\Dell\Desktop\Models\ML\Gold_CFTC.csv")

In [43]:
# raw merge of the data

merge_df = pd.merge(Prices_df, CFTC_df, left_on=['Date'],right_on=['Date'], how='inner')

In [44]:
#cleaned up df

clean_df = merge_df[['Date','Settle','Open Interest','Money Manager Longs','Money Manager Shorts']].copy()

clean_df.head()

        Date  Settle  Open Interest  Money Manager Longs  Money Manager Shorts
0  7/16/2019  1411.2        1038695               248138                 28250
1   7/9/2019  1400.5        1010098               241396                 24254
2   7/2/2019  1408.0        1031393               258490                 17327
3  6/25/2019  1414.9        1014917               255572                 25908
4  6/18/2019  1346.6         858867               216650                 26969